<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Лаборатория.Properties.Settings._44П_2022_УП_ШиршоваConnectionString"
            connectionString="Data Source=sql;Initial Catalog=44П-2022-УП-Ширшова;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>